            <div class="section" id="footer">
                   <ul class="social">
                       <li><i class="fi-social-facebook"></i></li>
                       <li><i class="fi-social-twitter"></i></li>
                       <li><i class="fi-social-instagram"></i></li>
                       <li></li>
                   </ul>
                    <div id="copyright">
                        <p>&copy; 2013 Sushiology Sushi House</p>
                    </div>
            </div>