 <div id="header">
    <div id="logo">
      <a href="#"><span>sushiology</span></a>
    </div>         
       <div id="nav">
           <ul>
               <li><a href="index.html">Home</a></li>
               <li><a href="menu.html">Menu</a></li>
               <li><a href="order.html">Order</a></li>
               <li><a href="locations.html">Locations</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="contact.html">Contact</a></li>
           </ul>            
       </div>
</div>